/* Importing fonts from Google Fonts */
@import url("https://fonts.googleapis.com/css2?family=Julee&family=Just+Another+Hand&family=Kaushan+Script&family=Lobster&family=Pacifico&family=Playpen+Sans&family=Poppins&family=Prosto+One&family=Rampart+One&family=RocknRoll+One&family=Ubuntu&display=swap");

/* Resetting default margin, padding, and box-sizing */
* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

/* Common stylings and variables declared using :root */
:root {
  --justAnotherHand: "Just Another Hand", cursive;
  --kaushan: "Kaushan Script", cursive;
  --lobster: "Lobster", sans-serif;
  --pacifio: "Pacifico", cursive;
  --playplen: "Playpen Sans", cursive;
  --poppins: "Poppins", sans-serif;
  --rocknRoll: "RocknRoll One", sans-serif;
  --ubuntu: "Ubuntu", sans-serif;
  --julee: "Julee", cursive;
  --prosto: "Prosto One", sans-serif;
  --rampart: "Rampart One", sans-serif;
  --poetsen: "Poetsen One", sans-serif;
}

/* Styling for the main container of the 'Dudes' component */
.dudes-container {
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
}

/* Styling for the top bar section */
.dudes-container .topBar {
  width: 100%;
}

.topBar {
  width: 100%;
  padding: 20px 10px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.topBar .home-btn {
  width: 100px;
  height: 40px;
  margin-left: 25px;
  background-color: #1784c7;
}

/* Styling for the filters section */
.dudes-container .filters {
  width: 80vw;
  padding: 10px 0px;
  margin: 20px 0px;
  display: flex;
  align-items: center;
}

.filters .leftSide {
  width: 40%;
}

.filters .rightSide {
  width: 60%;
  display: flex;
  justify-content: flex-end;
}

/* Styling for the toggle button */
.rightSide .toggle {
  padding: 20px;
  border-radius: 5px;
  background-color: #f7f8fc;
  display: flex;
  align-items: center;
  column-gap: 5px;
}

.toggle .toggle-btn {
  width: 34px;
  height: 20px;
  padding: 0px 2px;
  border-radius: 50px !important;
  background-color: black !important;
  transition: all 0.2s linear 0s;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.toggle-btn .btn {
  width: 15px;
  height: 15px;
  border-radius: 50%;
  background-color: white !important;
}

/* Styling for the student details table section */
.dudes-container .student-details-table {
  width: 80vw;
  margin: 20px 0px;
}

.student-details-table table {
  width: 100%;
  border: 2px solid black;
  font-family: var(--playplen);
}

/* Styling for table headers and rows */
table thead {
  background-color: #36304a;
  color: white;
}

table tbody tr:hover {
  color: white;
  background-color: #0342ff;
  transition: all 0.2s linear 0s;
}

table tbody tr:nth-of-type(even) {
  background-color: #f7f8fc;
  color: black !important;
}

table tbody tr:nth-of-type(even):hover {
  background-color: #0342ff;
  color: white;
  transition: all 0.2s linear 0s;
}

/* Styling for table cell content */
table tbody td {
  padding: 5px 0px;
  text-align: center;
}

/* Styling for table filters and navigation buttons */
.dudes-container .table-filters {
  width: 80vw;
  display: flex;
  justify-content: space-between;
}

.table-filters .leftSide {
  width: 50%;
}

.leftSide .content-filter {
  width: 100%;
  display: flex;
  align-items: center;
  column-gap: 10px;
}

/* Styling for the content filter input */
.content-filter input {
  width: 50px;
  border-radius: 5px;
}

.table-filters .rightSide {
  display: flex;
  column-gap: 10px;
}

/* Styling for navigation buttons */
.rightSide button {
  width: 40px;
  height: 30px;
  border-radius: 30%;
  font-weight: 900;
}

.rightSide .previous-btn {
  border: 1px solid black;
  background-color: white;
  color: #2699fb;
}

.rightSide .next-btn {
  border: none;
  background-color: #2699fb;
  color: white;
}
