@import url("https://fonts.googleapis.com/css2?family=Julee&family=Just+Another+Hand&family=Kaushan+Script&family=Lobster&family=Pacifico&family=Playpen+Sans&family=Poppins&family=Prosto+One&family=Rampart+One&family=RocknRoll+One&family=Ubuntu&display=swap");

* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

:root {
  --justAnotherHand: "Just Another Hand", cursive;
  --kaushan: "Kaushan Script", cursive;
  --lobster: "Lobster", sans-serif;
  --pacifio: "Pacifico", cursive;
  --playplen: "Playpen Sans", cursive;
  --poppins: "Poppins", sans-serif;
  --rocknRoll: "RocknRoll One", sans-serif;
  --ubuntu: "Ubuntu", sans-serif;
  --julee: "Julee", cursive;
  --prosto: "Prosto One", sans-serif;
  --rampart: "Rampart One", sans-serif;
  --poetsen: "Poetsen One", sans-serif;
}

.dudes-container {
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.dudes-container .topBar {
  width: 100%;
}

.topBar {
  width: 100%;
  padding: 20px 10px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.topBar .home-btn {
  width: 100px;
  height: 40px;
  margin-left: 25px;
  background-color: #1784c7;
}

.dudes-container .filters {
  width: 80vw;
  padding: 10px 0px;
  margin: 20px 0px;
  display: flex;
  align-items: center;
}

.filters .leftSide {
  width: 40%;
}

.filters .rightSide {
  width: 60%;
  display: flex;
  justify-content: flex-end;
}

.rightSide .toggle {
  padding: 20px;
  border-radius: 5px;
  background-color: #f7f8fc;
  display: flex;
  align-items: center;
  column-gap: 5px;
}

.toggle .toggle-btn {
  width: 34px;
  height: 20px;
  padding: 0px 2px;
  border-radius: 50px !important;
  background-color: black !important;
  transition: all 0.2s linear 0s;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.toggle-btn .btn {
  width: 15px;
  height: 15px;
  border-radius: 50%;
  background-color: white !important;
}

.dudes-container .student-details-table {
  width: 80vw;
  margin: 20px 0px;
}

.student-details-table table {
  width: 100%;
  border: 2px solid black;
  font-family: var(--playplen);
}

table thead {
  background-color: #36304a;
  color: white;
}

table tbody tr:hover {
  color: white;
  background-color: #0342ff;
  transition: all 0.2s linear 0s;
}

table tbody tr:nth-of-type(even) {
  background-color: #f7f8fc;
  color: black !important;
}

table tbody tr:nth-of-type(even):hover {
  background-color: #0342ff;
  color: white;
  transition: all 0.2s linear 0s;
}

table tbody td {
  padding: 5px 0px;
  text-align: center;
}

.dudes-container .table-filters {
  width: 80vw;
  display: flex;
  align-items: center;
  justify-content: center;
}

.table-filters .top-btn {
  width: 150px;
  height: 45px;
  border: none;
  border-radius: 5px;
  background-color: gold;
}

.top-btn a {
  text-decoration: none;
  color: black;
  font-size: 1em;
  font-family: var(--poppins);
}

@media (max-width: 768px) {
  * {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
  }

  .dudes-container {
    width: 100vw;
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .topBar {
    width: 100%;
    padding: 20px 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .topBar button {
    font-family: var(--prosto);
    color: white;
    border: none;
    border-radius: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
    column-gap: 5px;
  }

  .topBar .home-btn {
    height: 40px;
    padding: 0px 10px;
    background-color: #1784c7;
    margin-left: 0px !important;
  }

  .topBar .home-btn img {
    width: 25px;
    height: 25px;
    border-radius: 50%;
  }

  .dudes-container .filters {
    width: 80%;
    height: auto;
    margin: 20px 0px;
    padding: 10px;
    font-size: 0.6em;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    row-gap: 25px;
  }

  .filters .leftSide {
    width: 100%;
    height: 40%;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .filters .rightSide {
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    row-gap: 10px;
  }

  .rightSide .filter input {
    height: 30px;
    border: none;
    padding: 0px 5px;
    font-family: var(--rocknRoll);
  }

  .filters input:hover {
    outline: 2px solid black;
  }

  .rightSide .toggle {
    padding: 20px;
    border-radius: 5px;
    background-color: #f7f8fc;
    display: flex;
    align-items: center;
    column-gap: 5px;
  }

  .toggle .toggle-btn {
    width: 34px;
    height: 20px;
    padding: 0px 2px;
    border-radius: 50px !important;
    background-color: black !important;
    transition: all 0.2s linear 0s;
    display: flex;
    justify-content: flex-start;
    align-items: center;
  }

  .toggle-btn .btn {
    width: 15px;
    height: 15px;
    border-radius: 50%;
    background-color: white !important;
  }

  .dudes-container .student-details-table {
    width: 80%;
    margin: 20px 0px;
  }

  .student-details-table table {
    width: 100%;
    font-family: var(--playplen);
    font-size: 0.5em;
    border: 2px solid black;
  }

  table thead {
    background-color: #36304a;
    color: white;
  }

  table tbody tr:hover {
    background-color: #0342ff;
    color: white;
    transition: all 0.2s linear 0s;
  }

  table tbody tr:nth-of-type(even) {
    background-color: #f7f8fc;
    color: black !important;
  }

  table tbody tr:nth-of-type(even):hover {
    background-color: #0342ff;
    color: white;
    transition: all 0.2s linear 0s;
  }

  table tbody td {
    text-align: center;
    padding: 2px 0px;
  }

  .btech-container .table-filters {
    width: 80vw;
    font-size: 1em;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .table-filters .top-btn {
    width: 100px;
    height: 35px;
    border: none;
    border-radius: 5px;
    background-color: gold;
    font-size: 1em;
  }

  .top-btn a {
    text-decoration: none;
    color: black;
    font-size: 0.7em;
    font-family: var(--poppins);
  }
}
