@import url("https://fonts.googleapis.com/css2?family=Julee&family=Just+Another+Hand&family=Kaushan+Script&family=Lobster&family=Pacifico&family=Playpen+Sans&family=Poppins&family=Prosto+One&family=Rampart+One&family=RocknRoll+One&family=Ubuntu&display=swap");

* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

:root {
  --justAnotherHand: "Just Another Hand", cursive;
  --kaushan: "Kaushan Script", cursive;
  --lobster: "Lobster", sans-serif;
  --pacifio: "Pacifico", cursive;
  --playplen: "Playpen Sans", cursive;
  --poppins: "Poppins", sans-serif;
  --rocknRoll: "RocknRoll One", sans-serif;
  --ubuntu: "Ubuntu", sans-serif;
  --julee: "Julee", cursive;
  --prosto: "Prosto One", sans-serif;
  --rampart: "Rampart One", sans-serif;
  --poetsen: "Poetsen One", sans-serif;
}

.starsday-container {
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.starsday-container .topBar {
  width: 100%;
}

.topBar {
  width: 100%;
  padding: 20px 10px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.topBar .home-btn {
  width: 100px;
  height: 40px;
  margin-left: 25px;
  background-color: #1784c7;
}

.starsday-container .agenda-container {
  width: 90vw;
  min-height: 90vh;
  padding: 20px;
  margin-bottom: 100px;
  background-color: #f7f8fc;
  display: flex;
  flex-direction: column;
}

.agenda-container .agenda {
  width: 100%;
  height: 90%;
}

.agenda-container .bottom-items {
  width: 250px;
  display: flex;
  justify-content: space-between;
}

.bottom-items .register-btn {
  padding: 10px 10px;
  border: none;
  border-radius: 5px;
  background-color: #00c87e;
  color: white;
  font-family: var(--prosto);
}

.bottom-items .participate-btn {
  padding: 0px 10px;
  border: none;
  border-radius: 5px;
  background-color: #faba34;
  color: black;
  font-family: var(--prosto);
}

.starsday-container .participation-details-table {
  width: 80vw;
  margin: 20px 0px;
}

.participation-details-table table {
  width: 100%;
  border: 2px solid black;
  font-family: var(--playplen);
}

table thead {
  background-color: #36304a;
  color: white;
}

table tbody tr:hover {
  background-color: #0342ff;
  color: white;
  transition: all 0.2s linear 0s;
}

table tbody tr:nth-of-type(even) {
  background-color: #f7f8fc;
  color: black !important;
}

table tbody tr:nth-of-type(even):hover {
  background-color: #0342ff;
  color: white;
  transition: all 0.2s linear 0s;
}

table tbody td {
  padding: 5px 0px;
  text-align: center;
}

.starsday-container .table-filters {
  width: 80vw;
  display: flex;
  align-items: center;
  justify-content: center;
}

.table-filters .top-btn {
  width: 150px;
  height: 45px;
  border: none;
  border-radius: 5px;
  background-color: gold;
}

.top-btn a {
  text-decoration: none;
  color: black;
  font-size: 1em;
  font-family: var(--poppins);
}

.participation-form-container {
  width: 100vw;
  height: 100vh;
  background-color: rgb(217, 217, 217, 50%);
  display: none;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: fixed;
  top: 0%;
}

.show {
  display: flex;
}

.pf-form {
  width: 50%;
  height: 650px;
  border: 2px solid black;
  border-radius: 10px;
  background-color: white;
}

.pf-form .pf-form-header {
  width: 100%;
  height: 10%;
  padding: 0px 25px;
  border-top-right-radius: 10px;
  border-top-left-radius: 10px;
  background-color: #00ca80;
  color: white;
  font-family: var(--prosto);
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

.pf-form-header p {
  padding-right: 125px;
}

.pf-form form {
  width: 100%;
  height: 90%;
  padding: 50px 100px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  row-gap: 9%;
}

.pf-form form .pf-row1 {
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.pf-form form .pf-row2 {
  width: 100%;
}

.pf-row2 input {
  min-width: 100%;
}

.pf-row3 {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-content: center;
}

.pf-row3 .add-member-btn {
  border: none;
  border-radius: 5px;
  padding: 10px 5px;
  background-color: #1784c7;
  color: white;
  font-family: var(--prosto);
}

.pf-row4 {
  width: 100%;
}

.pf-row4 textarea {
  min-width: 100%;
  height: 150px;
  border: 2px solid black;
  border-radius: 10px;
  padding: 10px;
  background-color: #eedd99;
  font-family: var(--rocknRoll);
}

.participate-btn {
  width: 150px;
  height: 50px;
  border: none;
  border-radius: 5px;
  padding: 10px 5px;
  background-color: #00ca80;
  color: white;
  font-family: var(--poppins);
}

.pf-form form input {
  width: 250px;
  height: 50px;
  border-radius: 5px;
  padding: 0px 10px;
  background-color: #eedd99;
  font-family: var(--rocknRoll);
  color: black;
}

.pf-form form input::placeholder {
  color: black;
}

.registeredPopup {
  width: 100vw;
  height: 100vh;
  background-color: rgb(217, 217, 217, 50%);
  display: none;
  justify-content: center;
  align-items: center;
  position: fixed;
  top: 0%;
}

.show {
  display: flex;
}

.popup {
  width: 500px;
  height: 300px;
  padding-top: 100px;
  padding-bottom: 50px;
  border: 2px solid black;
  border-radius: 10px;
  background-color: white;
  color: black !important;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.popup p {
  background-color: #f7f8fc;
  font-family: var(--poppins);
}

.done-btn {
  background-color: #00c87e;
  color: white;
  border: none;
  border-radius: 5px;
  padding: 5px 10px;
  font-family: var(--prosto);
}

@media (max-width: 768px) {
  * {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
  }

  .starsday-container {
    width: 100vw;
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .topBar {
    width: 100%;
    height: auto;
    display: flex;
    align-items: flex-start;
    justify-content: center;
  }

  .topBar .home-btn {
    width: 100px;
    height: 40px;
    margin-left: 0px;
    background-color: #1784c7;
  }

  .starsday-container .agenda-container {
    width: 90%;
    height: 90vh;
    border-radius: 5px;
    padding: 20px;
    margin-bottom: 100px;
    background-color: #f7f8fc;
    display: flex;
    flex-direction: column;
    row-gap: 5%;
  }

  .agenda-container .agenda {
    width: 100%;
    height: 85%;
  }

  .agenda-container .bottom-items {
    width: 100%;
    height: 10%;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  .bottom-items .register-btn {
    padding: 10px;
    border: none;
    border-radius: 5px;
    background-color: #00c87e;
    color: white;
    font-family: var(--prosto);
    font-size: 0.5em;
  }

  .bottom-items .participate-btn {
    width: auto;
    height: auto;
    padding: 10px;
    font-size: 0.5em;
  }

  .starsday-container .participation-details-table {
    width: 80%;
    margin: 20px 0px;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .participation-details-table table {
    width: 100%;
    font-family: var(--playplen);
    font-size: 0.5em;
    border: 2px solid black;
  }

  table thead {
    background-color: #36304a;
    color: white;
  }

  table tbody tr:hover {
    background-color: #0342ff;
    color: white;
    transition: all 0.2s linear 0s;
  }

  table tbody tr:nth-of-type(even) {
    background-color: #f7f8fc;
    color: black !important;
  }

  table tbody tr:nth-of-type(even):hover {
    background-color: #0342ff;
    color: white;
    transition: all 0.2s linear 0s;
  }

  table tbody td {
    text-align: center;
    padding: 2px 0px;
  }

  .starsday-container .table-filters {
    width: 80vw;
    font-size: 1em;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .table-filters .top-btn {
    width: 100px;
    height: 35px;
    border: none;
    border-radius: 5px;
    background-color: gold;
  }

  .top-btn a {
    text-decoration: none;
    color: black;
    font-size: 1em;
    font-family: var(--poppins);
  }

  .participation-form-container {
    width: 100vw;
    height: 100vh;
    background-color: rgb(217, 217, 217, 50%);
    display: none;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: fixed;
    top: 0%;
  }

  .show {
    display: flex;
  }

  .pf-form {
    width: 90%;
    height: 80%;
    border: 2px solid black;
    border-radius: 10px;
    background-color: white;
  }

  .pf-form .pf-form-header {
    width: 100%;
    height: 10%;
    padding: 0px 25px;
    border-top-right-radius: 10px;
    border-top-left-radius: 10px;
    background-color: #00ca80;
    color: white;
    font-family: var(--prosto);
    font-size: 0.5em;
    display: flex;
    align-items: center;
    justify-content: flex-end;
  }

  .pf-form-header p {
    padding-right: 15px;
  }

  .pf-form form {
    width: 100%;
    height: 90%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    row-gap: 5%;
  }

  .pf-form form .pf-row1 {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    row-gap: 10px;
  }

  .pf-form form .pf-row2 {
    width: 100%;
    display: flex;
    justify-content: center;
  }

  .pf-row2 input {
    min-width: 200px;
  }

  .pf-row3 {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    row-gap: 10px;
  }

  .pf-row3 .add-member-btn {
    width: 150px;
    height: 35px;
    border: none;
    border-radius: 5px;
    padding: 5px;
    background-color: #1784c7;
    color: white;
    font-family: var(--prosto);
  }

  .pf-row4 {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .pf-row4 textarea {
    min-width: 200px;
    max-height: 50px;
    border: 2px solid black;
    border-radius: 10px;
    padding: 10px;
    background-color: #eedd99;
    font-family: var(--rocknRoll);
  }

  .participate-btn {
    width: 150px;
    height: 35px;
    border: none;
    border-radius: 5px;
    padding: 10px 5px;
    background-color: #00ca80;
    color: white;
    font-family: var(--poppins);
  }

  .pf-form form input {
    width: 200px;
    height: 35px;
    border-radius: 5px;
    padding: 0px 10px;
    background-color: #eedd99;
    font-family: var(--rocknRoll);
    color: black;
  }

  .pf-form form input::placeholder {
    color: black;
  }

  .popup {
    width: 80%;
    height: 50%;
    padding-top: 100px;
    padding-bottom: 50px;
    border: 2px solid black;
    border-radius: 10px;
    background-color: white;
    color: black !important;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
  }
}
